*{
    margin: 0px;
    padding: 0px;
}
.main{
    border: 5px solid black;
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;

}
.div1{
    background-color: yellow;
}
.div2{
    background-color: orange;

}
.div3{
    background-color: aqua;
}
.div4{
    background-color: brown;
}
.div5{
    background-color: palevioletred;
}
.div6{
    background-color: burlywood;
}
.div7{
    background-color: brown;
}
.div8{
    background-color: chartreuse;
}